
* {
  font-family: Arial;
}

h1 {
  margin: 0px;
}

body {
  border-bottom: 1px solid black;
}

div.post {
  clear: both;
  overflow: auto;
  border-top: 1px solid black;
}

div.title {
  font-size: 10px;
  background-color: lightgray;
  padding-left: 4px;
  padding-right: 4px;
}

div.title span:first-child {
}

div.title span:last-child {
  float: right;
}

div.image img, div.image video {
  max-width: 100%;
  min-width: 200px;
  width: 200px;
  height: auto;
  padding-right: 10px;
}

div.image {
  float: left;
}

div.image.clicked img {
  width: calc(100% - 10px);
  height: auto;
}

a.newTabLink {
  text-decoration: none;
}

div.image.clicked a.newTabLink {
  display: none;
}

a.newTabLink div {
  text-align: center;
  font-size: 12px;
  margin-bottom: 5px;
  margin-right: 10px;
  color: white;
  background-color: gray;
}

div.text {
  padding: 10px;
  padding-left: 210px;
}

div.text span.quote {
  color: darkgreen;
}



div.post.overview {
  width: 200px;
  height: 300px;
  display: inline-block;
  overflow: hidden;
}

div.post.overview.green {
  background-color: #6CFF77;
}

div.post.overview.yellow {
  background-color: #FFE35F;
}

div.post.overview.red {
  background-color: #FF805D;
}

div.post.overview.black {
  background-color: #555555;
}

div.post.overview div.image {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

div.post.overview div.image img,
div.post.overview div.image video {
  float: none;
  padding: 0px;
}

div.post.overview div.text {
  padding: 5px;
}

div.post.overview div.text p {
  margin: 0px;
  padding: 0px;
}